<h1>Burbank, CA</h1>
<p>Humidity: {{current.main.humidity}}</p>
<p>Temperature(Average): {{current.main.temp}} &#176;F</p>
<p>Temperature(High): {{current.main.temp_max}} &#176;F</p>
<p>Temperature(Low): {{current.main.temp_min}} &#176;F</p>
<p>Status: {{current.weather[0].description}}</p>
<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1511403226000/photosp/ig-452971845153882111_30887462/stock-photo-city-walking-california-downtown-sunny-instagood-jj-jjforum-instahub-ig-452971845153882111_30887462.jpg" alt="">