<h1>Seattle, WA</h1>
<p>Humidity: {{current.main.humidity}}</p>
<p>Temperature(Average): {{current.main.temp}} &#176;F</p>
<p>Temperature(High): {{current.main.temp_max}} &#176;F</p>
<p>Temperature(Low): {{current.main.temp_min}} &#176;F</p>
<p>Status: {{current.weather[0].description}}</p>
<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1449087287000/photosp/0e2aa161-5c25-48b1-95d3-7d2ada45b28e/stock-photo-animal-nature-forest-dog-landscape-animals-green-seattle-wolf-0e2aa161-5c25-48b1-95d3-7d2ada45b28e.jpg" alt="">