<h1>Washington, D.C.</h1>
<p>Humidity: {{current.main.humidity}}</p>
<p>Temperature(Average): {{current.main.temp}} &#176;F</p>
<p>Temperature(High): {{current.main.temp_max}} &#176;F</p>
<p>Temperature(Low): {{current.main.temp_min}} &#176;F</p>
<p>Status: {{current.weather[0].description}}</p>
<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1518403252000/photosp/4849038f-ef85-48ca-a9b9-39bb6399a891/stock-photo-nature-pink-spring-cherry-blossom-flowers-festival-springtime-washington-dc-4849038f-ef85-48ca-a9b9-39bb6399a891.jpg" alt="">