<h1>San Jose, CA</h1>
<p>Humidity: {{current.main.humidity}}</p>
<p>Temperature(Average): {{current.main.temp}} &#176;F</p>
<p>Temperature(High): {{current.main.temp_max}} &#176;F</p>
<p>Temperature(Low): {{current.main.temp_min}} &#176;F</p>
<p>Status: {{current.weather[0].description}}</p>
<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1514401209000/photosp/f4e0313d-5584-4e76-938b-2768ef519c6d/stock-photo-christmas-fashionistas-san-jose-xmas-f4e0313d-5584-4e76-938b-2768ef519c6d.jpg" alt="">